---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Page not found">
	<main>
        <h1>Page not found</h1>
        <p>The page you're looking for wasn't found.<p>
    </main>
</Layout>
