---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import NavLink from '../components/NavLink.astro';

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

type Article = CollectionEntry<'article'>;
type GroupedArticles = {
	[key: string]: Array<Article>
};

const articles = (await getCollection('article')).reduce(
	// Longform / compatible + typesafe version of Object.groupBy(a => a.data.group)
	(grouped: GroupedArticles, article: Article) => {
		const group: string = article.data.group;
		if (!(group in grouped)) {
			grouped[group] = new Array();
		}
		grouped[group].push(article);
		return grouped;
	}, {});
const groups = Object.keys(articles).sort().reverse();
---

<Layout title="Archives">
	<Nav class="small-page">
		<NavLink href="/" before="⧼">Home</NavLink>
	</Nav>
	<main class="small-page">
        <h1>Archives</h1>
        {groups.map(group => (
       	<div>
        	<h2>{group}</h2>
         	{articles[group].map(article =>
          	<p>
             	<a href={"/" + article.slug}>{article.data.title}</a>
          	</p>)}
       	</div>
        ))}
    </main>
</Layout>

<style>
	.small-page p {
		text-align: left;
	}
</style>
