---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Example page" description="">
	<main>
		<h1>First level title</h1>
		<h2>Second level title</h2>
		<h3>Third level title</h3>
		<h4>Fourth level title</h4>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
	</main>
</Layout>

<style>
	.instructions code {
		font-weight: bold;
	}
</style>
