---
import Layout from '../layouts/Layout.astro';
import IconLink from '../components/IconLink.astro';
import { Picture } from 'astro:assets';
import photo from '../assets/photo.jpg';
---

<Layout title="instanceof me" description="">
	<main>
		<h1><code>instanceof</code> me</h1>
		<ul role="list" class="link-list">
			<li class="link-list__item">
				<IconLink icon="/icons/instagram.svg"
					href="https://instagram.com/instanceofme"
					alt="Instagram" title="Instagram: @instanceofme"
					>@instanceofme</IconLink>
			</li>
			<li class="link-list__item">
				<IconLink icon="/icons/linkedin.svg"
					href="https://www.linkedin.com/in/lavoillotte/"
					alt="LinkedIn" title="LinkedIn: Adrien Lavoillotte"
					>Adrien Lavoillotte</IconLink>
			</li>
			<li class="link-list__item">
				<IconLink icon="/icons/github.svg"
					href="https://github.com/instanceofme"
					alt="GitHub" title="GitHub: @instanceofme"
					>@instanceofme</IconLink>
			</li>
			<li class="link-list__item">
				<IconLink icon="/icons/stackoverflow.svg"
					href="https://stackoverflow.com/users/119212/instanceof-me"
					alt="Stack Overflow" title="Stack Overflow: instanceof me"
					>instanceof me</IconLink>
			</li>
			<li class="link-list__item">
				<IconLink icon="/icons/tumblr.svg"
					href="https://instanceofme.tumblr.com"
					alt="tumblr" title="tumblr: instanceofme"
					>instanceofme</IconLink>
			</li>
		</ul>
	</main>
	<aside>
		<Picture
			class="photo"
			src={photo}
			formats={['webp']}
			alt="Photo"
			width={photo.width/4}
			densities={[1, 2, 3, 4]}
		/>
	</aside>
</Layout>

<style>
	main {
		margin: 0 auto;
		width: fit-content;
	}
	h1 {
		padding: 0 1em;
		border-bottom: 1px solid lightgray;
	}

	.link-list {
		display: block;
		width: fit-content;
		margin: 1em auto;
		text-align: left;
		font-size: 2em;
	}
	.link-list__item {
		display: block;
	}

	.photo {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
</style>
