---
interface Props {
	icon: string;
	alt: string;
	href: string;
	title?: string;
	scale?: number;
	translate?: number;
}

const { icon, alt, href, title, scale = 1.1, translate = -0.05 } = Astro.props;
---

<a href={href} title={title}
	><img src={icon} alt={alt} />
	<span><slot /></span></a>

<style define:vars={{scale, translate}}>
	a {
		color: currentColor;
		text-decoration: none;
	}
	img {
		height: 1em;
		vertical-align: middle;
		transform: scale(var(--scale, 1.8))
			translateY(calc(var(--translate, -.05) * 1em));
	}
	a:hover  span,
	a:active span {
		text-decoration: underline;
	}
</style>
