---
interface Props {
	icon: string;
	alt: string;
	href: string;
	title: string;
}

const { icon, alt, href, title } = Astro.props;
---

<a href={href} title={title}
	><img src={icon} alt={alt} />
	<span><slot /></span></a>

<style>
	a {
		color: currentColor;
		text-decoration: none;
	}
	img {
		height: 1em;
		vertical-align: middle;
		transform: scale(1.8);
	}
	a:hover  span,
	a:active span {
		text-decoration: underline;
	}
</style>
