---
interface Props {
	class?: string
}

const klass = Astro.props.class ?? "";
---

<nav class={klass}>
	<ul>
		<slot />
	</ul>
</nav>

<style>
	ul {
		display: block;
		padding: 0;
	}
	
	ul > :global(li) {
		display: inline-block;
	}
	ul > :global(li + li) {
	}

	:global(.small-page) nav {
		
	}
</style>
