---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{ description ?
		<meta name="description" content={description} />
		: null }
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		font-size: 100%; /* 16px by default */
		line-height: 1.25; /* 20px */
	}
	html {
		/* from Modern Font Stacks */
		font-family:
		  Charter,
		  'Bitstream Charter',
		  'Sitka Text',
		  Cambria,
		  serif;
	}
	body {
	   margin: 1rem;
	}
	code, pre, tt {
		font-family:
			ui-monospace,
			'Cascadia Code',
			'Source Code Pro',
			Menlo,
			Consolas,
			'DejaVu Sans Mono',
			monospace;
	}
	h1 { font-size: 4rem; margin: 1.5rem 0; }
	h2 { font-size: 2rem; }
	h3 { font-size: 1.5rem; }
	h4 { font-size: 1rem; }
	h1, h2, h3, h4, p { margin: 1rem 0; }
</style>
<!--style is:global>
    /* debug */
    body {
	   background: repeating-linear-gradient(to bottom, transparent,
				transparent calc(.5rem - 1px), lightgray .5rem);
	}
</style-->
